/* bios styling */

#root, body, html {
  min-height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.bios-page {
    display: flex;
    flex-direction: column;
    background-image: url('./images/hidden-lake.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; 
  }
  
  .bios-page h1 {
    color: whitesmoke;
    align-self: center;
  }
  
  .bios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  .bios img {
    max-height: 15vw;
    width: auto;
  }
  
  .bios span {
  background-color: rgba(245, 245, 245, 0.933);
  margin: 3vw;
  padding: 1vw;
  border-radius: .5vw;
  color: grey;
  max-width: 15vw;
  min-width: 10vw;
  font-size: 1vw;
  }
  
  .bios span p:nth-child(1) {
  color: green;
  }