
html, body, .root {
  width: 100%;
  height: 100%;
}

.active {
font-weight: bold;
color: deeppink;
}

.bios {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
background-image: url('./images/hidden-lake.jpeg');
background-repeat: no-repeat;
background-size:cover;
height: 99vh;
}

.bios span {
background-color: whitesmoke;
margin: 3vw;
padding: 1vw;
border-radius: .5vw;
color: grey;
max-width: 15%;
}

.bios span div:nth-child(2) {
color: green;
}

.bios img {
max-width: 15vw;
}

img {
  width: 100px;
}

.comments {
  border: solid 1px black;
  width: 500px;
  margin: 10px;
}

.user {
  font-size: 0.7rem;
}