.detail-page {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    align-content: center;
    justify-content: center;
}

.detail-head {
    display:flex;
    justify-content: center;
    align-content: center;
    height: 10vw;
}

.detail-head button {    
    align-self: center;
}
.detail-head h1 {    
    font-size: 5vw;
    color: whitesmoke;
    margin-right: 1rem;
}

.park-detail {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    border: dimgray 1px solid;
    border-radius: 1vw;
    padding: 1vw;
    margin-bottom: 3vw;
    color: dimgray;
    background-color: rgba(245, 245, 245, 0.892);
}

.park-detail div {
    margin: 1vw;
    line-height: 1.4rem;
}

.park-detail div div {
    margin: .2vw;
}

.park-detail a, a:visited {
    text-decoration: none;
    color: dimgray;
}